:root{
}


body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    border: 2px solid black;
    border-radius: 2rem;
    height: auto;
    width: 30rem;
    padding: 3em;
    display: flex;
    align-items: center;


}

.attempt_count {
    margin-left: 1rem;
}
