@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,500;0,700;1,500&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
}

main{
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 95%;
}

.navBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 5%;
    position: fixed;
}

.navList{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: absolute;
    width: 100%;
    height: 100%;

}

.firstItem{
    margin-top:2rem;
}
.lastItem{
    margin-top:auto;
    margin-bottom: 2rem;
}

.navList li span{
    display: none;
}

.navLink svg{
    width: 2.5rem;
}

.main{
    position: relative;
}

.header{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    color: rgba(255, 255, 255, 0.804);
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.mainBanner{
    background-color: rgba(255, 255, 255, 0.762);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 60%;
    width: 75%;
}

.mainCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    text-align: center;
}
