:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --bg-alternative: #6649b8;
}

body {
  color: black;
  background-color: var(--bg-secondary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navBar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  height: 100vh;
  width: 5rem;
  transition: width ease-in .2s;
  z-index: 100;
}

.navMain {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navList {
  width: 100%;
}

.navList:last-child {
  margin-top: auto;
}

.navLink {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.navLink:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-alternative);
  color: var(--text-secondary);
}


.navText {
  display: none;
  margin-left: 1rem;
  white-space: nowrap;
}

.navLink svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.main {
  background-color: #1c1c26;
  margin-left: 5rem;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header{
display: flex;
justify-content: center;
}

.brandLogo{
  font-size: 2.5rem;
  padding: 2rem 0;
  margin: 0 0 0 0;
  color: var(--text-secondary);
  transition: color ease-in-out .25s;

}

.brandLogo:hover{
  color: var(--bg-alternative);
}

.aboutMe{
  color: var(--text-secondary);
  filter: grayscale(100%) opacity(0.7);
  padding: 10%;
  display: flex;
  gap: 1rem;
  background-color: var(--bg-alternative);
  border-radius: 2rem;
  transition: filter ease-in-out .25s;
}

.aboutMe:hover{
  filter: grayscale(0%) opacity(0.7);
}

.profileImageWrapper{
  display: flex;
  align-items: center;
}

.profileImage{
  width: 15rem;
  height: 15rem;
  border-radius: 5rem;
  margin: 1rem;
}

.aboutWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}
.aboutWrapper p{
  text-align: justify;
}

h2{
  margin: 0;
}

@media only screen and (max-width: 720px) {
  .navBar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navText {
    display: none;
  }

  .navMain {
    flex-direction: row;
  }

  .navLink {
    justify-content: center;
  }

  .main {
    margin: 0;
  }

  .aboutMe{
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    gap: 0;
  }
  .aboutWrapper{
    align-items: center;
  }
}

@media only screen and (min-width: 720px){

  .navBar:hover{
    width: 16rem;
  }

  .navBar:hover span {
    display: inline;
  }
}