
:root{
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
}
.head{
    display: flex;
    align-items: center;
}

.logoBar{
    margin: 0.5rem 1rem;
    font-size: .8rem;
}

svg{
    width: 1rem;
}

.navBar{
    margin-left: auto;
}

.navList{

    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 1rem;
    list-style: 0;
    gap: 1rem;
    list-style: none;
}

                
