@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;500;700&display=swap');
:root{
    font-family: 'Merienda', cursive;
    --murakami-color: linear-gradient( to top right,
        #F43131,
        #F6005E,
        #E80888,
        #C933AE,
        #994FCB,
        #4E62DB
        )
        
}

html{
    height: 100%;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-image:var(--murakami-color);
    background-size: 400%;
    animation: bg-animate 10s infinite alternate;
    overflow: hidden;
    background-repeat: no-repeat;
}

header{
    text-align: center;
    font-size: 1.25rem;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.101));
}
.main{
    padding-bottom: 15%;
    border: 5px solid black;
    border-radius: 1rem;
    padding: 2rem;
    text-shadow: 0 0 .25rem rgba(255, 255, 255, 0.565);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.countDown{
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countDownTime{
    align-self: flex-start;
    width: 100%;

}

.counteritem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

.counteritem h3 {
    margin: 0;
}

.counteritem span {
    font-weight: 700;
}



@keyframes bg-animate{
    0% {
        background-position: bottom left;
    }

    100% {
        background-position: top right;
    }
}
